
@import "../../../../assets/variables.scss";

.root {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: $white;
    margin: 7px 5px;
    transition-duration: 300ms;
    cursor: pointer;

}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.3;
}