@import "../../../assets/variables.scss";

.root {
    width: 70%;
    height: 100px;
    font-family: $primaryFont;
    font-size: 1em;
    text-align: right;
    background: transparent;
    border: none;
    outline: none;
    color: $white;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
   color: $white;
}